<section class="welcome">
  <h1 style="text-align: center; color:cadetblue; font-size:large">Welcome to freshlo! as a <strong>Clerk,</strong><br><br>
  {{user.firstName}} {{user.lastName}}
  </h1>
  <div class="options">
    <h2 style="color:cadetblue; font-size:large">Add your own data</h2>
    <button><a style="color:cadetblue; font-size:large; text-decoration: none;" href="/load-data/meal-kits">Add data</a></button><br>
    
    <br><h2 style="color:cadetblue; font-size:large">Update data</h2>
    {{#each kits}}
    <div class="classicMealItems">
        
        <div class="classicMealItem">
            <img src={{ImageURL}} width="200">
            <h4>{{Title}}</h4>
            <p>{{Description}}</p>
            <button onclick=""><a style="text-align: center; color:cadetblue; font-size:large; text-decoration: none;" href="/load-data/meal-kits/{{_id}}">Update</a></button>
        </div>
        
    </div>
    {{else}}
    <h3>No kits yet..</h3>
    {{/each}}
  </div>
</section>