<div class ="container">
        <h2>Welcome Back</h2>
        <form method="post" action="login">
            <input type="text" name="emailaddress" placeholder="Email Address" value="{{value.emailaddress}}">
            {{#if validation.emailaddress}}
            <span>{{validation.emailaddress}}</span>
            {{/if}}
            <input type="text" name="password" placeholder="Password" value="{{value.password}}">
            {{#if validation.password}}
            <span>{{validation.password}}</span>
            {{/if}}
            <br><input type="checkbox" name="clerk" {{#if value.clerk}} checked="true" {{/if}}>
            <label for="clerk">LOG IN as clerk</label><br>
            <input type="checkbox" name="customer" {{#if value.customer}} checked="true" {{/if}}>
            <label for="customer">LOG IN as customer</label><br>
            {{#if validation.checkbox}}
            <span>{{validation.checkbox}}</span>
            {{/if}}
            <input type="submit" name="login" value="Log In">
        </form>
</div>
{{!-- Displayed Hero below because it hides form and user have to scroll down for it; --}}
{{>hero}}