 {{>hero}}
 <section class="classicMeals">
     {{#each kits}}
        <h2>{{Category}}</h2>
    <div class="classicMealItems">
        {{#each mealKits}}
        <div class="classicMealItem">
            <img src={{ImageURL}} width="200">
            <h4>{{Title}}</h4>
            <p>{{Description}}</p>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h3>No kits yet..</h3>
    {{/each}}
</section>
