<div class ="container">
        <h2>Sign Up</h2>
        <p>Create your account with your email address and password</p>
        <form method="post" action="signup" enctype="multipart/form-data">
            
            <input type="text" name="firstname" placeholder="First Name" value="{{value.firstname}}">
            {{#if validation.firstname}}
            <span>{{validation.firstname}}</span>
            {{/if}}
            <input type="text" name="lastname" placeholder="Last Name" value="{{value.lastname}}">
            {{#if validation.lastname}}
            <span>{{validation.lastname}}</span>
            {{/if}}
            <input type="text" name="emailaddress" placeholder="Email Address" value="{{value.emailaddress}}">
            {{#if validation.emailaddress}}
            <span>{{validation.emailaddress}}</span>
            {{/if}}
            {{#if mailValid}}
            <span>{{mailValid}}</span>
            {{/if}}
            <input type="password" name="password" placeholder="Password" value="{{value.password}}">
            {{#if validation.password}}
            <span>{{validation.password.string}}{{validation.password}}</span>          
            {{/if}}
            <input type="file" name="profilePicture" id="profilePicture" placeholder="Add file">
            {{#if validation.profilePicture}}
            <span>{{validation.profilePicture}}</span>          
            {{/if}}
            <input type="submit" name="signup" value="Sign Up Today">
        </form>
</div> 
{{!-- Displayed Hero below because it hides form and user have to scroll down for it; --}}
{{>hero}}


