
{{#if msg}}
 <h2 style="text-align: center; color:cadetblue; font-size:large; display:block ; padding-bottom: 10px">{{msg}}</h2>
{{/if}}
 {{#if clerkuser}}
<div class ="container">
        <h2></h2>
        <p>Fill out information</p>
        <form method="post" {{#if value.id}} action="{{value.id}}" {{else}}  action="meal-kits" {{/if}} enctype="multipart/form-data">
            <label>Category type?</label><br>
            <input type="checkbox" name="classic"{{#if value.classic}} checked="true" {{/if}}> <label>Classic meals</label><br>
            <input type="checkbox" name="featured"{{#if value.featured}} checked="true" {{/if}}> <label>Featured meals</label><br>  
            <input type="text" name="newcategory" placeholder="Add it to a new category" value="{{value.newcategory}}">  
            {{#if validation.category}}
            <span>{{validation.category}}</span>
            {{/if}}
            <input type="text" name="title" placeholder="Title" value="{{value.title}}">
             {{#if validation.error}}
            <span>{{validation.error}}</span>
            {{/if}}
            <input type="text" name="description" placeholder="Description" value="{{value.description}}">
             {{#if validation.error}}
            <span>{{validation.error}}</span>
            {{/if}}
            <input type="text" name="cookingtime" placeholder="Cooking Time" value="{{value.cookingtime}}">
             {{#if validation.error}}
            <span>{{validation.error}}</span>
            {{/if}}
            <input type="text" name="calories" placeholder="Calories" value="{{value.calories}}">
             {{#if validation.error}}
            <span>{{validation.error}}</span>
            {{/if}}
            <input type="text" name="price" placeholder="Price" value="{{value.price}}">
             {{#if validation.error}}
            <span>{{validation.error}}</span>
            {{/if}}
            <br><label>Is this a top meal</label>
            <input type="checkbox" name="truetopmeal" {{#if value.truetopmeal}} checked="true" {{/if}}> <label>Yes</label>
            <input type="checkbox" name="falsetopmeal" {{#if value.falsetopmeal}} checked="true" {{/if}}> <label>No</label><br>
             {{#if validation.topmeal}}
            <span>{{validation.topmeal}}</span>
            {{/if}}
            <br><label>Add pic for your meal-kit</label>
            <input type="file" name="mealPicture" id="mealPicture" >
            {{#if validation.mealPicture}}
            <span>{{validation.mealPicture}}</span>          
            {{/if}}
            {{#if add}}
            <input type="submit" name="add-data" value="Add Data">
            {{else}}
            <input type="submit" name="update-data" value="Update Data">
            {{/if}}
        </form>
</div> 
{{/if}}